<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="30">
    <Properties>
        <Property name="log_dir">logList/${date:yyyy_MM_dd-HH_mm}</Property>
        <!--${date:yyyy_MM_dd_HH_mm_ss}-->
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!--<PatternLayout pattern="[%d{MM-dd HH:mm:ss,SSS}] %-5p %-40.40c %x : %msg%n"/>-->
            <PatternLayout pattern="%d{dd-MM-yyyy HH:mm:ss} %m%n"/>

        </Console>
        <RollingFile name="RollingFile" fileName="${log_dir}/server.log"
                     filePattern="${log_dir}/server_%i.log.gz">
            <PatternLayout>
                <pattern>%d{dd-MM-yyyy HH:mm:ss} %m%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="50MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
        <Async name="AsyncConsole">
            <AppenderRef ref="Console"/>
        </Async>
        <Async name="AsyncFile">
            <AppenderRef ref="RollingFile"/>
        </Async>
    </Appenders>

    <Loggers>
        <Logger name="org.springframework" level="WARN"/>
        <Logger name="org.eclipse.jetty" level="INFO"/>

        <Root level="DEBUG">
            <AppenderRef ref="AsyncConsole"/>
            <AppenderRef ref="AsyncFile"/>
        </Root>
    </Loggers>
</Configuration>